<template name="nav_bar">

    <nav class="navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Netfix</a>
            </div>
            {{#if getting_started_dne}}
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <div class="col-sm-4 col-md-7">
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="q">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            {{/if}}
        </div>
    </nav>


    <!--<nav class="navbar navbar-fixed-top">-->
                    <!--<div class="navbar-header">-->
                        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
                            <!--<span class="sr-only">Toggle navigation</span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                            <!--<span class="icon-bar"></span>-->
                        <!--</button>-->
                        <!--<a class="navbar-brand" href="#">Netfix</a>-->

                    <!--</div>-->
                    <!--<div id="navbar" class="navbar-collapse collapse">-->
                        <!--<ul class="nav navbar-nav">-->
                            <!--<li class="active"><a href="#" class="">Home</a></li>-->

                            <!--<li class=" dropdown">-->
                                <!--<a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Departments <span class="caret"></span></a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="#">View Departments</a></li>-->
                                    <!--<li><a href="#">Add New</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managers <span class="caret"></span></a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="#">View Managers</a></li>-->
                                    <!--<li><a href="#">Add New</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--&lt;!&ndash;<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Staff <span class="caret"></span></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li><a href="#">View Staff</a></li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li><a href="#">Add New</a></li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li><a href="#">Bulk Upload</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class=" down"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">HR <span class="caret"></span></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li><a href="#">Change Time Entry</a></li>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<li><a href="#">Report</a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->

                        <!--</ul>-->

                        <!--<div class="col-sm-3 col-md-3">-->
                            <!--<form class="navbar-form" role="search">-->
                                <!--<div class="input-z">-->
                                    <!--<input type="text" class="form-control" placeholder="Search" name="q">-->
                                    <!--<div class="input-group-btn">-->
                                        <!--<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</form>-->
                        <!--</div>-->
                        <!--<ul class="nav navbar-nav navbar-right">-->
                            <!--<li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>-->
                                <!--<ul class="dropdown-menu">-->
                                    <!--<li><a href="#">Change Password</a></li>-->
                                    <!--<li><a href="#">My Profile</a></li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li class=""><a href="#">Logout</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
    <!--</nav>-->
</template>