<template name="video">
    {{>nav_bar}}
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px">
                <div id="playa"></div>
            </div>

        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-5">
                Title: {{title}}
            </div>
            <div class="col-md-5">
                Genre: {{getGen genre}}
            </div>
            <div class="col-md-5">
                Run Time: {{runTime}}
            </div>
        </div>





    </div>

</template>